<h1>Greetings <%= locals.doc.name%></h1>

<img src="<%= locals.doc.avatar %>" alt="<%= locals.doc.name %>" width="100">

<% if(locals.user.id == locals.doc.id){ %>
    <div>Change details </div>
    <form action="/users/update/<%= locals.user.id %>" enctype="multipart/form-data" method="POST">
        <input type="text" name="name" placeholder="new name" value="<%= locals.doc.name %>" required>
        <input type="email" name="email" placeholder="new email" value="<%= locals.doc.email %>" required>
        <input type="file" name="avatar" placeholder="Profile Picture">
        <input type="submit" value="Update">
    </form>
<% } else{ %>        
    <h4>You are registered with <%= locals.doc.email%> as your email address</h4>
<% } %>

<!-- passport MW sets locals.user = req.user; when the user is authenticated else both are NULL -->
